<div class="modal add-user-modal">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <div class="modal-content__form">
      {{{ addUserInput }}}
      <div class="modal-content__button">
        {{{ button }}}
      </div>
    </div>
  </div>
</div>