<div class="auth">
  <div class="container auth__container">
    <div class="auth__content">
      <h1 class="auth__title">Вход</h1>
      <div class="auth__body">
        <form class="form">

          <ul class="form__list">
            <li class="form__item">
              {{{ inputLogin }}}
            </li>
            <li class="form__item">
              {{{ inputPassword }}}
            </li>
          </ul>
          <div class="form__button">
            {{{ button }}}
          </div>
          <div class="form__button">
          </div>
        </form>
        <a href="../../register.html" class="auth__link">Нет аккаунта?</a>
      </div>
    </div>
  </div>
</div>