<div class="auth">
  <div class="container auth__container">
    <div class="auth__content">
      <h1 class="auth__title">Вход</h1>
      <div class="auth__body">
        <form class="form">

          <ul class="form__list">
            <li class="form__item">
              {{{ loginInput }}}
            </li>
            <li class="form__item">
              {{{ passwordInput }}}
            </li>
          </ul>
          <div class="form__button">
            {{{ button }}}
          </div>
          <div class="form__button">
          </div>
        </form>
        {{{ link }}}
      </div>
    </div>
  </div>
</div>