.app-input {
  position: relative;
  display: flex;
  &__textfield {
    width: 100%;
    padding: 25px 10px 10px 10px;
    border: none;
    border-bottom: 1px solid $primary;
    outline: none;
    transition: 0.3s;
    position: relative;
    &::placeholder {
      display: none;
    }
    &_error.app-input__textfield_empty {
      border-bottom-color: $danger;
      & ~ .app-input__placeholder {
        bottom: 17px;
        font-size: 16px;
        left: 16px;
      }
    }
    &_error {
      border-bottom-color: $danger;
      & ~ .app-input__placeholder {
        bottom: 30px;
        font-size: 12px;
        left: 10px;
      }
    }
    &_valid {
      border-color: $secondary;
      & ~ .app-input__placeholder {
        bottom: 30px;
        font-size: 12px;
        left: 10px;
      }
    }
    &:focus {
      border-color: $secondary;
      & ~ .app-input__placeholder {
        bottom: 30px;
        left: 10px;
        font-size: 12px;
      }
      & ~ .app-input__error {
        display: none;
      }
    }
  }
  &__placeholder {
    position: absolute;
    bottom: 17px;
    left: 16px;
    width: 100%;
    font-size: 16px;
    display: flex;
    transition: 0.3s;
    cursor: text;
    user-select: none;
  }
  &__error {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
    color: $danger;
    font-size: 12px;
  }
}
