<div class="modal add-chat-modal {{ active }}">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <h3 class="modal-content__title">Добавить новый чат</h3>
    <div class="modal-content__form">
      <div class="modal-content__input">
        {{{ addChatInput }}}
      </div>
      <div class="modal-content__button">
        {{{ button }}}
      </div>
    </div>
  </div>
</div>