<div class="modal avatar-modal">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <h3 class="modal-content__title">Загрузите файл</h3>
    <form class="modal-content__form">
      <div class="modal-content__input">
        {{{ fileInput }}}
      </div>
      <div class="modal-content__button">
        {{{ button }}}
      </div>
    </form>
  </div>
</div>