<div class="modal password-modal">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <ul class="modal-content__list">
      <li class="modal-content__item">
        {{{ oldPasswordCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ newPasswordCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ confirmPasswordCardRowInput }}}
      </li>
    </ul>
    <div class="modal-content__button">
      {{{ button }}}
    </div>
  </div>
</div>