.avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__pic {
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
}