<div class="chat-name">
  <div class="chat-name__avatar">
    <img src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}" class="chat-name__avatar-image">
  </div>
  <div class="chat-name__title">
    {{name}}
  </div>
</div>