<div class="chat-name avatar">
  <div class="avatar__image">
    {{#if avatar}}
    <img src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}" class="avatar__pic">
    {{else}}
    <div class="avatar__unknown">
      <p>?</p>
    </div>
    {{/if}}
  </div>
  <div class="chat-name__title">
    {{name}}
  </div>
</div>