<div class="error">
  <div class="error__number">
    <p>{{number}}</p>
  </div>
  <div class="error__text">
    <p>Упс! Что-то пошло не так...</p>
    <span>Попробуйте перейти 
      <a href="{{link}}" class="error__link">сюда</a>
    </span>
  </div>
  <div class="error__icon-block">
    <i class="error__icon fa-solid fa-face-frown"></i>
  </div>
  
</div>