.app-input {
  display: flex;
  position: relative;
}

.app-input__textfield {
  width: 100%;
  padding: 25px 10px 10px 10px;
  border: none;
  border-bottom: 1px solid $primary;
  outline: none;
  transition: 0.3s;
  position: relative;
  &::placeholder {
    display: none;
  }
  &:focus {
    border-color: $secondary;
    & ~ .app-input__placeholder {
      bottom: 30px;
      left: 10px;
      font-size: 12px;
    }
  }
}

.app-input__placeholder {
  position: absolute;
  bottom: 17px;
  left: 16px;
  width: 100%;
  font-size: 16px;
  display: flex;
  transition: 0.3s;
  cursor: text;
  user-select: none;
}

.app-input__textfield:valid {
  border-color: $secondary;
  & ~ .app-input__placeholder {
    bottom: 30px;
    font-size: 12px;
    left: 10px;
  }
}