---
fields: [
  {
    name: "Почта",
    value: "smdgy@yandex.ru"
  },
  {
    name: "Логин",
    value: "nikitaomelyuhin"
  },
  {
    name: "Имя",
    value: "Никита"
  },
  {
    name: "Фамилия",
    value: "Омелюхин"
  },
  {
    name: "Имя в чате",
    value: "Никита"
  },
  {
    name: "Телефон",
    value: "8 (800) 555-35-35"
  },
]
buttons: [
  {
    text: "Изменить данные",
    type: "simple",
  },
  {
    text: "Изменить пароль",
    type: "simple"
  },
  {
    text: "Выйти",
    type: "simple",
    additionalType: "danger",
    link: "../../../static/login.hbs"
  }
]
---
<div class="user-card">
  <a href="../../../static/index.hbs" class="back">
    <div class="back__icon">
      <span><i class="fa-solid fa-arrow-left"></i></span>
    </div>
  </a>
  <div class="container user-card__container">
    <div class="user-card__body">
      <div class="user-card__avatar">
        <div class="avatar-user">
          <div class="avatar-user__text">
            <p>Поменять аватар</p>
          </div>
          <div class="avatar-user__icon">
            <i class="fa-solid fa-image"></i>
          </div>
          <div class="avatar-user__image">
          </div>
        </div>
      </div>
      <h2 class="user-card__name">Никита</h2>
      <ul class="user-card__list">
        {{#each fields}}
          <li class="user-card__item">
            <h3 class="user-card__field-name">
              {{this.name}}
            </h3>
            <div class="user-card__field-value">
              {{this.value}}
            </div>
          </li>
        {{/each}}
      </ul>
      <ul class="user-card__list">
        {{#each buttons}}
          <li class="user-card__item">
            {{> appButton text=this.text type=this.type additionalType=this.additionalType link=this.link}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
