---
chats: [
  {
    chatName: "Виталий",
    message: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta in commodi, totam laudantium, quas eaque aut impedit, doloribus nisi repellendus iusto cumque facere officiis voluptate temporibus illum expedita!",
    time: "Ср",
    notificationCount: 3
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Бани Эстонии",
    message: "Lorem, ipsum dolor iusto cumque facere officiis",
    time: "20:45",
    notificationCount: 129
  },
  {
    chatName: "Олеся",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "13:15",
    activeClass: "sidebar-item_active"
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
  {
    chatName: "Алексей",
    sender: "Вы",
    message: "Lorem, ipsum dolor",
    time: "10:49",
  },
]
messages: [
  {
    messageBlock: [
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta in commodi, totam laudantium, quas eaque aut impedit, doloribus nisi repellendus iusto cumque facere officiis voluptate temporibus illum expedita!",
        time: "12:45"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta",
        time: "12:46"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta in commodi, totam laudantium, quas eaque aut impedit, doloribus nisi repellendus iusto cumque facere officiis voluptate temporibus illum expedita!",
        time: "12:47"
      },
      {
        type: "text",
        content: "Lorem, ipsum ",
        time: "12:47"
      },
    ],
  },
  {
    messageBlock: [
      {
        type: "text",
        content: "Lorem, ipsum dolor ipsum dolor ipsum dolor",
        time: "12:48",
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor ipsum dolor ipsum dolor. Lorem, ipsum dolor ipsum dolor ipsum dolor",
        time: "12:48",
      },
    ]
  },
  {
    messageBlock: [
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta in commodi, totam laudantium, quas eaque aut impedit, doloribus nisi repellendus iusto cumque facere officiis voluptate temporibus illum expedita!",
        time: "12:55"
      },
      {
        type: "text",
        content: "Lorem",
        time: "13:00"
      },
      {
        type: "text",
        content: "Lorem, ipsum",
        time: "13:00"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta",
        time: "13:22"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae",
        time: "13:25"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta",
        time: "13:34"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor",
        time: "13:34"
      },
      {
        type: "text",
        content: "Lorem, ipsum",
        time: "13:34"
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae soluta in commodi, totam laudantium, quas eaque aut impedit, doloribus nisi repellendus iusto cumque facere officiis voluptate temporibus illum expedita!",
        time: "13:35"
      },
      {
        type: "text",
        content: "Lorem, ipsum",
        time: "14:46"
      },
    ]
  },
  {
    messageBlock: [
      {
        type: "text",
        content: "Lorem, ipsum dolor ipsum dolor ipsum dolor",
        time: "13:15",
        check: true,
        delivered: true,
      },
      {
        type: "text",
        content: "Lorem, ipsum dolor",
        time: "13:15",
        check: true,
      }
    ]
  }
]
---

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="../src/layout/base.scss">
    <link rel="stylesheet" href="../src/pages/chat/chat.scss">
</head>

<body>
  <main class="main-page">
    <aside class="sidebar">
      <div class="sidebar__header">
        <p class="sidebar__text">
          Профиль
          <i class="sidebar__icon fa-solid fa-angle-down"></i>
        </p>
        <div class="sidebar__search">
          <input type="text" required class="sidebar__input">
          <div class="sidebar__search-placeholder">
            <i class="sidebar__search-icon fa-solid fa-magnifying-glass"></i>
            <p>Поиск</p>
          </div>
        </div>
      </div>
      <div class="sidebar__body">
        <ul class="sidebar__chats">
          {{#each chats}}
          <li class="sidebar__item">
            {{> sidebarItem activeClass=this.activeClass image=this.image chatName=this.chatName
            sender=this.sender message=this.message time=this.time
            notificationCount=this.notificationCount}}
          </li>
          {{/each}}
        </ul>
      </div>
    </aside>
    <div class="chat">
      <div class="chat__header">
        <div class="chat__side">
          <div class="chat__avatar avatar">
            <img class="avatar__image">
          </div>
          <div class="chat__name">Олеся</div>
        </div>
        <div class="chat__side">
          <a href="./user-card.hbs" class="chat__link">
            <i class="chat__link-icon fa-solid fa-user"></i>
            Мой аккаунт
          </a>
        </div>
      </div>
      <div class="chat__body">
        <div class="chat__date">01 Февраля</div>
        <div class="chat__content">
          <ul class="chat__list">
            {{#each messages}}
            <li class="chat__item">
            {{#each this.messageBlock}}
            <div class="chat__messages">
              <div class="chat__message">
                <p>{{this.content}}</p>
                {{#if this.check}}
                <div class="chat__icon-block">
                  {{#if this.delivered}}
                  <i class="chat__check-icon fa-solid fa-check"></i>
                  {{/if}}
                  <i class="chat__check-icon fa-solid fa-check"></i>
                </div>
                {{/if}}
                <p>{{this.time}}</p>
              </div>
            </div>
            {{/each}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="chat__footer">
        <button class="chat__smiles-button">
          <i class="fa-solid fa-paperclip"></i>
        </button>
        <input type="text" placeholder="Сообщение" class="chat__message-input">
        <button class="chat__send-button">
          <i class="fa-solid fa-circle-arrow-right"></i>
        </button>
      </div>
    </div>
  </main>
  <script type="module" src="../src/pages/chat/index.js"></script>
</body>

</html>