---
id: "login"
---

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../src/layout/base.scss">
        <link rel="stylesheet" href="../src/pages/loginComponent/loginComponent.scss">
    </head>
    <body>
        <div id="{{ id }}"></div>
    <script type="module" src="../src/pages/loginComponent/index.js">
    </script>
    </body>
</html> 