---
button: {
  text: "Войти",
  type: "primary",
  link: "./index.hbs"
}
inputs: [
  {
    type: "text",
    placeholder: "Логин"
  },
  {
    type: "password",
    placeholder: "Пароль"
  }
]
---

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../src/layout/base.scss">
    <link rel="stylesheet" href="../src/pages/loginComponent/loginComponent.scss">
  </head>
  <body>
    <div class="auth">
      <div class="container auth__container">
        <div class="auth__content">
          <h1 class="auth__title">Вход</h1>
          <div class="auth__body">
            <form class="form">
              <ul class="form__list">
                {{#each inputs}}
                <li class="form__item">
                  {{> appInput placeholder=this.placeholder type=this.type}}
                </li>
                {{/each}}
              </ul>
              <div class="form__button">
                {{>appButton type=button.type text=button.text link=button.link}}
              </div>
            </form>
            <a href="./register.hbs" class="auth__link">Нет аккаунта?</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> 